*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
   font-family: 'Gill Sans';
}

html,body{
   height: 100%;
   width: 100%;
   
}
#main{
    height: 100%;
    width: 100%;
}
#header{
    background-color: white;
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo{
    height: 70%;
    margin: 20px;
}
#logo img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.texts{
    
    color: blue;
    display: flex;
}
.texts:hover{
    color: black;
}
.icon{
  
  padding: 10px;
  border-radius: 50%;
}

.icon:hover{
    background-color: aqua;
}
#login{
    display: flex; 
    padding: 10px; 
    border-radius: 50px;
}
#login:hover{
   
    background-color: aqua;
}
#try{
   background-color: rgba(56, 85, 12, 0.47);
   padding: 10px 20px;
   color: white;
}
#try:hover{
    background-color: green;
}
#fakeheader{

    height: 10%;
    width: 100%;
   /* position: fixed;*/
}
#contactdetail{
   
    font-weight:lighter;
}
#page1{
    height: 90%;
    width: 100%;
    background-color: burlywood;
}
#page2{
    height: 90%;
    width: 100%;
    background-color: olive;
}
